body {
    text-align: center;
    background-color: rgb(23, 23, 23);
    color: aliceblue;
    margin-top: 40vh;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

input[type='file'] {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.button {
    padding: 10px;
    border: 1pt solid aliceblue;
    background-color: rgb(18, 18, 18);
    color: aliceblue;
    font-size: 30px;
    font-family: "Century Gothic", serif;
    transition-duration: 0.3s;
    cursor: pointer;
    margin: 10px;
}

.button:hover {
    background-color: aliceblue;
    color: rgb(18, 18, 18);

    transition-duration: 0.3s;
}

#svg-convert {
    margin-top: 20px;
    background-color: aliceblue;
}